/* The styles for the elements */
/******************************/
/* Default Page Styles*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    width: 600px;
    margin: 0 auto;
    margin-top: 150px;
    background-color: white;
    border: 2px solid #808080;
    /*align-self: center;*/ 

}

.techsupport_img {

    margin-left: 80px;
}

.td_right {

    text-align: right;

}

#form1 {

    /*display:block;
    align-self: center;*/ 

}

.table_log {

    /*display: block;*/
 
    margin: 0 auto;
    width: 500px;

}

section {

/*align-:center;*/

}

/* the styles for classes */

.button {
 
    width: 100px;
    color: red;
    margin-bottom: 30px;
    margin-left: 142px;
}